#
# Software Name: Orange Unified Design System
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license,
# the text of which is available at https://opensource.org/license/MIT/
# or see the "LICENSE" file for more details.
#
# Authors: See CONTRIBUTORS.txt
# Software description: A SwiftUI components library with code examples for Orange Unified Design System
#

# About runners: https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners
# Runners details: https://github.com/actions/runner-images/tree/main/images/macos

# Rules for this GitHub Actions workflow
# - workflow can be triggered manually if needed (workflow_dispatch)
# - use "almost" frozen version of macOS
# - is for branches main, develop and all
# - automatically triggered when pull request is opened and has new commits (synchronize)
# But beware, triggered on commit push, so do not be a push-machine-gun!

name: Build and test demo app

on:
  push:
    branches:
      - main
      - develop
      - '*'

  pull_request:
    types:
      - opened
      - synchronize 
    branches:
      - main
      - develop
      - '*'   

permissions:
  contents: read

# Cancel-in-progress to avoid to have more and more runs for the same thing in the branch or pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  # Build the app (if there are linter errors or compiler issues, it will fail)
  build:
    runs-on: macos-26
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Xcode 26.0.1
        run: |
          sudo xcode-select -s /Applications/Xcode_26.0.1.app/Contents/Developer

      - name: Set up Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0, https://github.com/ruby/setup-ruby
        with:
          ruby-version: '3.4.8'

      - name: Install Fastlane
        run: |
          bundle install

      - name: Build demo app (iOS, macOS, visionOS, watchOS, tvOS)
        run: |
          cd DesignToolbox
          xcrun simctl list # List available simulators
          bundle exec fastlane ios build_debug
          bundle exec fastlane mac build_debug
          bundle exec fastlane vision build_debug
          bundle exec fastlane watch build_debug
          bundle exec fastlane tv build_debug

  # Test the app with unit tests
  unit-test:
    runs-on: macos-26
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Xcode 26.0.1
        run: |
          sudo xcode-select -s /Applications/Xcode_26.0.1.app/Contents/Developer

      - name: Set up Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0, https://github.com/ruby/setup-ruby
        with:
          ruby-version: '3.4.8'

      - name: Install Fastlane
        run: |
          bundle install

      - name: Run unit tests on demo app
        run: |
          cd DesignToolbox
          bundle exec fastlane ios test_unit

  # Test the app / library with UI tests
  ui-test:
    runs-on: macos-26
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Xcode 26.0.1
        run: |
          sudo xcode-select -s /Applications/Xcode_26.0.1.app/Contents/Developer

      - name: Set up Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0, https://github.com/ruby/setup-ruby
        with:
          ruby-version: '3.4.8'

      - name: Install Fastlane
        run: |
          bundle install

      - name: Run UI-based unit tests on demo app
        run: |
          cd DesignToolbox
          bundle exec fastlane ios test_ui

  # Test the app / library with snapshots tests
  snapshots-test:
    runs-on: macos-26
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Xcode 26.0.1
        run: |
          sudo xcode-select -s /Applications/Xcode_26.0.1.app/Contents/Developer

      - name: Set up Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0, https://github.com/ruby/setup-ruby
        with:
          ruby-version: '3.4.8'

      - name: Install Fastlane
        run: |
          bundle install

      - name: Run snapshots tests on demo app
        run: |
          cd DesignToolbox
          xcrun simctl list # List available simulators
          bundle exec fastlane ios test_snapshots
